/* horizontally center the page */
body {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 3rem auto;
    align-items: center;
    width: 45rem;
}

iframe {
    width: 100%;
    height: 440px;
    border: none;
    margin: 1rem 0 2rem 0;
}

pre {
    width: 100%;
    align-self: flex-start;
}

/* height of the SVG formula */
#targetedFGSM-formula {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* less space at top and bottom of paragraph */
p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

/* ordered lists should all start at same x location */
ol {
    align-self: flex-start;
    margin-left: 2rem;
}

#footer {
    margin-top: 2rem;
}