/* general font stuff */
body {
  font-family: helvetica, arial, sans-serif;
  color: #222;
}

a {
    color: #222;
}

/* justify text */
p {
   align-self: flex-start; /* centering does not work well with justify */
   /*text-align: justify;*/
   text-align: left;
}

h1, h2 {
    text-align: center;
}

h3 {
    align-self: flex-start;
    text-align: left;
}

/* highlight demo iframe */
iframe {
    border: #555 dashed 1px;
    border-radius: 4px;
}

/* source code formatting */
pre {
    background: #f8f8f8;
    border-radius: 4px;
    padding: 0 0 0 20px; /* instead of putting spaces before the code */
    color: #222;
}

.keyword {
    color: #8d0b13;
}

.comment {
    color: #555;
}

.inline-code {
    font-size: 1rem;
    font-family: monospace;
}